@import 'variables.scss';

.discountcard {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    border-radius  : 10px;
    padding        : 10px;

    &__info {
        padding-left: 35px;

        .discountcard-title {
            font-size     : 24px;
            line-height   : 30px;
            letter-spacing: 0;
            font-weight   : $light;
        }

        .discountcard-btn {
            margin-top: 10px;

            button {
                @include item-center;
                background-color: $white;
                color           : #E64E41;
                letter-spacing  : 0;
                outline         : 0;
                border          : 0;
                font-size       : 13px;
                line-height     : 30px;
                border-radius   : 15px;
                padding         : 6px 18px;
                height          : 30px;
                cursor          : pointer;
            }
        }
    }
}

// Responsives
@media (max-width: 767.98px) {
    .discountcard {
        margin-bottom: 20px;

        &__info {
            .discountcard-title {
                font-size  : 15px;
                line-height: 20px;
            }

            .discountcard-btn {
                button {
                    font-size: 12px;
                    padding  : 5px 14px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .discountcard {
        max-width: 320px;

        &__info {
            .discountcard-title {
                font-size  : 16px;
                line-height: 20px;
            }

            .discountcard-btn {
                button {
                    font-size: 12px;
                    padding  : 5px 14px;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .discountcard {
        .card-image {
            img {
                width: 100%;
            }
        }

        &__info {
            .discountcard-title {
                font-size  : 16px;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1540px) {
    .discountcard {
        &__info {
            .discountcard-title {
                font-size  : 18px;
                line-height: 22px;
            }
        }
    }
}