@import 'variables.scss';

.header {
    padding-right        : 15px;
    padding-left         : 15px;
    display              : grid;
    grid-template-columns: 15% 65% 20%;
    align-items          : center;
    padding-top          : 20px;

    &__logo {
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
    }

    &__search {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 872px;

        .search-form {
            display        : flex;
            justify-content: center;
            align-items    : center;
            height         : 50px;
            width          : 100%;
            background     : #F7F7F7;
            border         : 2px solid #EDF1F2;
            border-radius  : 28px;
            padding        : 0 5px 0 19px;
        }

        .search-input {
            width       : 100%;
            height      : 100%;
            background  : none;
            border      : 0;
            color       : $lightgray;
            font-size   : 15px;
            line-height : 19px;
            padding-left: 7px;
            font-family : inherit;

            &:focus {
                outline: none;
            }
        }

        .search-btn {
            border       : 2px solid $green;
            border-radius: 28px;
            background   : $green;
            padding      : 7px 25px;
            color        : $white;
            font-size    : 18px;
            line-height  : 22px;
            cursor       : pointer;
            font-family  : inherit;
        }
    }

    &__basket {
        position: relative;
        cursor  : pointer;

        .basket-content {
            @include item-center;
            position     : relative;
            background   : #044DC3;
            border-radius: 28px;
            padding      : 10px 25px;
            width        : 50%;
            float        : right;
        }

        .basket-title {
            padding-left: 4px;
            font-size   : 16px;
            color       : white;
            font-weight : 600;
            line-height : 24px;
        }

        .basket-count {
            @include item-center;
            position        : absolute;
            top             : -25%;
            right           : 0;
            background-color: #FF5B4D;
            width           : 25px;
            height          : 25px;
            border-radius   : 50%;

            span {
                color      : $white;
                font-size  : 16px;
                line-height: 19px;
                font-weight: $medium;
            }
        }
    }
}

// Responsives
@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        grid-template-columns: 25% 50% 25%;

        &__search {
            width: 100%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
        grid-template-columns: 20% 60% 20%;

        &__search {
            width: 100%;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1540px) {
    .header__search {
        width: 100%;
    }
}