@import '../../../variables.scss';

.main {
    margin-top: 20px;

    &__title {
        width           : 100%;
        height          : 75px;
        background-image: url('../../../assets/images/titlebackground.png');
        width: 100%;
        .title-text {
            max-width: 1480px;
            width: 100%;
            margin: 0 auto;
            height: 75px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h1 {
                font-size  : 35px;
                font-weight: $bold;
                color      : $white;
            }
        }
    }
    &__breadcrumb {
        @include container;
    }
    &__categories {
        @include container;
        margin-top: 20px;
        .categories-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span {
                margin-left: 6px;
                font-size: 24px;
                line-height: 13px;
                color: $blue;
                letter-spacing: 0px;
            }
        }
    }
    &__products {
        @include container;
        margin-top: 30px;
        .products-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span {
                margin-left: 6px;
                font-size: 24px;
                line-height: 13px;
                color: $blue;
                letter-spacing: 0px;
            }
        }
        .products-allproducts {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 264px);
            grid-gap: 20px;
        }
    } 
    &__discountcards {
        margin-top: 31px;
        padding-top: 31px;
        border-top :solid 2px #EDF1F2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}