@import '../../../../variables.scss';

.categories {
    margin-top           : 20px;
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap             : 20px;

    &__title {
        text-align: center;
        height    : 50px;

        a {
            @include item-center;
            padding        : 0;
            margin         : 0;
            width          : 100%;
            height         : 100%;
            text-decoration: none;
            color          : $gray;
            font-weight    : $bold;
            font-size      : 18px;
            line-height    : 13px;
            border         : 1px solid #E2E7E9;
            border-radius  : 10px;
            cursor         : pointer;
            transition     : all .3s ease;

            &:hover {
                background-color: $blue;
                border-color    : transparent;
                color           : $white;
            }
        }
        .active {
            background-color: $blue;
            border-color    : transparent;
            color           : $white;
        }
    }

}

// Responsives
@media (max-width: 576px) {
    .categories {
        display: none;
    }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
    .categories {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .categories {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

        &__title {
            a {
                font-size  : 15px;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .categories {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

        &__title {
            a {
                font-size  : 16px;
                line-height: 18px;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1540px) {
    .categories {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));

        &__title {
            a {
                font-size  : 16px;
                line-height: 14px;
            }
        }
    }
}