@import 'variables.scss';

body {
  margin                 : 0;
  font-family: 'Source Sans Pro', sans-serif!important;
  box-sizing: border-box;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px ) {
  .container {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  .container {
      max-width: 1480px;
      width: 100%;
      margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
      max-width: 720px;
      width: 100%;
      margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1540px) {
  .container {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
  }
}
